<h1>Log In</h1>

<%= form_tag login_path do %>
  <div class="field">
    <%= label_tag :name, "Your name" %>
    <%= text_field_tag :name %>
  </div>

  <div class="field">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Log In", class: "btn" %>
<% end %>

<br>

<%= link_to "Sign Up", new_user_path, class: "btn" %>
